assignment1-neural-data/neuralipynb_checkpoints
assignment1-neural-data/01-local_field_potential/data
assignment1-neural-data/01-local_field_potential/__pycache__
assignment1-neural-data/DS_Store

assignment2-single-cell-analysis/01-tuning-curves/data
assignment2-single-cell-analysis/instructor-notes.md
assignment2-single-cell-analysis/01-tuning-curves/__MACOSX
assignment3-population-methods