assignment1-neural-data/neuralipynb_checkpoints
assignment1-neural-data/01-local_field_potential/data
assignment1-neural-data/01-local_field_potential/__pycache__
assignment1-neural-data/DS_Store
assignment1-neural-data/01-local_field_potential/__MACOSX
assignment1-neural-data/01-local_field_potential/__MACOSX

assignment2-single-cell-analysis/01-tuning-curves/data
assignment2-single-cell-analysis/instructor-notes.md
assignment2-single-cell-analysis/01-tuning-curves/__MACOSX

assignment3-population-methods/02-SVM-decoding/data
assignment3-population-methods/02-SVM-decoding/__MACOSX
assignment3-population-methods/02-SVM-decoding/code
assignment3-population-methods/02-SVM-decoding/imgs

assignment3-population-methods/.gitignore
assignment3-population-methods/requirements.txt
assignment3-population-methods/README.md
assignment3-population-methods/01-bayes-decoding/data
assignment1-neural-data/02-calcium_imaging/__MACOSX
assignment1-neural-data/02-calcium_imaging/data
assignment1-neural-data/02-calcium_imaging/code/__pycache__
assignment1-neural-data/01-local_field_potential/__pycache__
assignment1-neural-data/02-calcium_imaging/nihms778164.pdf

assignment3-population-methods/03-dimensionality-reduction/__MACOSX
assignment3-population-methods/03-dimensionality-reduction/code
assignment3-population-methods/03-dimensionality-reduction/data
assignment3-population-methods/03-dimensionality-reduction/imgs
assignment3-population-methods/03-dimensionality-reduction/styles